<div class="card" style="width: 18rem">
  <img src="<%= spriteUrl %>" class="card-img-top" alt="<%= name %>" />
  <div class="card-body">
    <h5 class="card-title col"><%= name %> #<%= id %></h5>
    <div class="row">Type: <%= type1 %></div>
    <div class="row">Height: <%= height %> Weight: <%= weight %></div>
    <div class="row">Ability: <%= ability %></div>
    <div class="row">HP: <%= hp %></div>
    <div class="row">Attack: <%= attack %></div>
    <div class="row">Defense: <%= defense %></div>
    <div class="row">Special Attack: <%= spattack %></div>
    <div class="row">Special Defense: <%= spdefense %></div>
    <div class="row">Speed: <%= speed %></div>
  </div>
</div>
